<!--
  Title: about.component.html
  Author: Walter McCue
  Date: 05/14/23
  Description: html to display information about the application.
-->

<div fxLayout="column">

  <mat-card class="card-form">

    <mat-card-title class="title">
      <h2>How to use the Application</h2>
    </mat-card-title>

    <div class="about">

      <mat-card-content class="about-content">
        <p class="center">
          test
        </p>
      </mat-card-content>

      <mat-card-content class="about-content">
        <p>
          test
        </p>
      </mat-card-content>

    </div>

  </mat-card>

</div>
