/**
Title: about.component.scss
Author: Walter McCue
Date: 05/14/23
Description: Styles for this component
*/

p {
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  width: 100%;
  padding: .5rem;
}

.about-content {
  width: 50%;
}

@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .about-content {
    width: 100%;
  }
}
